/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* General styling */

#textblock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    position: relative;
    margin-top: -50vh;
    padding: 0 5%;
    gap: 20px; /* Space between image and text */
}

.graphix {
    flex: 1;
}

.graphix img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: adds rounded corners */
}

#textblock-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  min-height: 100vh; /* Ensures consistent height */
}

#textblock-content {
  text-align: justify;
  color: #000000;
  font-size: 16px;
  line-height: 2.5;
  width: 100%;
  min-height: 30vh; /* Add enough space for content */
}

.textblock-head {
    font-size: 50px;
    font-weight: 700;
    background-color: #8B0000;
    color: white;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 7%;
}

.n1 {
    color: rgb(247, 110, 110);
}
