/* Layout.css */

.navbar_container {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    
    padding: 0 20px;
    z-index: 1000;
  }
  
  .page-content {
    margin-top: 5vh; /* Adjust to the height of your navbar */
    padding: 20px;
  }
  
 .r  {
    z-index: 1001;
    margin-right: 40px; 
    margin-left: 20px;
    font-size:18px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;/* Ensure the button is always on top */
  }

  .r:hover{
    font-size: 19px;
    color: rgb(116, 63, 6);
    font-weight: bold;
  }

  .home_icon{
    width: 40px;
    margin-bottom: 10px;
    
  }
  
  .signin{
    margin-left: 70%;
  }
  