.result_container {
    height: 70vh;
    width: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
    align-items: center;
    border: 2px solid #000000;
    margin-left: 20vw;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Add padding to avoid content touching the edges */
    box-sizing: border-box; /* Ensure padding is included in width and height calculations */
  }
  
  .typewriter {
    display: inline-block;
    text-align: left; /* Ensure text aligns from left to right */
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
  }
  
  .heading {
    margin-bottom: 10vh;
    text-align: center;
    font-size: 60px;
  }
  
  .download
  {
    margin-top: 10px;
    margin-left: 60%;
  }

