html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional background color */
  overflow: hidden; /* Prevent body from scrolling */
}

.result_container {
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start content at the top */
  align-items: center; /* Center content horizontally */
  border: 2px solid #00000000;
  overflow-y: auto; /* Enable scrolling */
  padding: 10px;
  box-sizing: border-box;
  background-color: #f9f9f9; /* Optional background color */
}

.typewriter {
  display: inline-block;
  white-space: pre-wrap;
  text-align: left;
  width: 80%; /* Make sure the text takes 80% of the container width */
  font-size: 18px;
  margin-bottom: 20px; /* Add space between typewriter text and other content */
}

.heading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 60px;
}

.download {
  margin-top: 10px;
}
